<div class="container-fluid">
  <h1 class="fs-2 text-center my-2">Wins</h1>
{{#each users as |user| }}
<div class="row text-center mx-auto py-1">
  <div class="col-md-3"></div>
  <div class="col-md-3 border border-2 py-1">
    <h2 class="fs-3">{{user.name}}</h2>
  </div>
  <div class="col-md-3 border border-2 fs-3 py-1">
    {{user.wins}}
  </div>
  <div class="col-md-3"></div>
</div>
{{/each}}
</div>