#messageArea {
  height: 100%;
  overflow-y: auto;
}

/* should be dynamically setting the height of the chat area and canvas container */
#chatArea {
  height: calc(100vh - 68px);
}

#canvasContainer {
  height: calc(100vh - 215px);
}

body.prevent-select * {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      justify-content: flex-end;
  }
}